{% extends "base.html" %}
{% load static %}

{% block contenido %}

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/blog/blogEmpre6.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>EMPREBLOG</h2>
                        <p>Bienvenidos a nuestro blog informativo sobre distintos emprendiemientos de la ciudad del Chaco</p>
                    </div>
                    <div class="normal__breadcrumb__text">
                        <p> 
                        Nos emociona presentarles nuestro espacio virtual, "EMPREBLOG", 
                        donde las noticias sobre emprendimientos locales se entrelazan con tus propias experiencias empresariales. 
                        Este blog no solo es una fuente de información sobre los últimos acontecimientos en el mundo empresarial de nuestra ciudad, 
                        sino también un escenario para que compartas tus propias historias y logros.<p>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog__item set-bg" data-setbg="{% static 'img/blog/blogEmpre2.jpg' %}">
                                <div class="blog__item__text">
                                    
                                    <h4 class="blogh4" ></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{% static 'img/blog/blog' %}">
                                <div class="blog__item__text">
                                
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{% static 'img/blog/blogEmpre3.jpg' %}">
                                <div class="blog__item__text">
                                
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog__item set-bg" data-setbg="{% static 'img/blog/' %}">
                                <div class="blog__item__text">
                                    
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{% static 'img/blog/blog' %}">
                                <div class="blog__item__text">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{% static 'img/blog/' %}">
                                <div class="blog__item__text">
                                    
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{% static 'img/blog/blogEmpre4.jpg' %}">
                                <div class="blog__item__text">
                            
                            
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{% static 'img/blog/blogEmpre7.jpg' %}">
                                <div class="blog__item__text">
                            
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog__item set-bg" data-setbg="{% static 'img/blog/' %}">
                                <div class="blog__item__text">
                                    {% comment %} <p><span class="icon_calendar"></span> </p> {% endcomment %}
                                    <h4><a href="#"> Queremos que este espacio sea un punto de encuentro para todos aquellos 
                                        que han decidido dar el paso valiente de emprender en Chaco.
                                        ¿Tienes un proyecto emocionante que estás llevando a cabo? 
                                        ¿Una historia inspiradora que quieres compartir con la comunidad? 
                                        Este blog es tu plataforma para brillar. Queremos conocer tus desafíos, tus éxitos,
                                        y cómo estás contribuyendo al crecimiento del tejido empresarial de nuestra ciudad.</a></h4>
                                </div>
                            </div>
                        </div>
    </section>
    <!-- Blog Section End -->

{% endblock contenido %}