{% extends "base.html" %}
{% load static %}

{% block contenido %}

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Acceso</h2>
                        <p>Welcome to the official Anime blog.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Iniciar sesión</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="Correo electrónico">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Contraseña">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Iniciar sesión</button>
                        </form>
                        <!-- arreglar el link antes no tenia <br> pero si no tiene se superpone-->
                        <br><a href="#" class="forget_pass">Olvidaste tu contraseña?</a></br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>No tienes una cuenta?</h3>
                        <a href="#" class="primary-btn">Registrate ahora</a>
                    </div>
                </div>
            </div>
            <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
                            <span>or</span>
                            <ul>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Iniciar sesión con Facebook</a></li>
                                <li><a href="#" class="google"><i class="fa fa-google"></i> Iniciar sesión con Google</a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Iniciar sesión con Twitter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->

{% endblock contenido %}